
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topSection {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: 0;
}

.btn {
  outline: none;
  border: 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

.btnWidget {
  color: #888;
  font-size: 12px;
}

.btnDisabled {
  background-color: #f1f1f1;
  border-color: #888;
  color: #333;
}

.btnRelative {
  position: relative;
}

.btnAddWidget {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}

.btnRemoveWidget {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

.widgetSection {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.indWidget {
  width: 32%;
  border: 2px dashed #ccc;
  border-radius: 4px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.widgetBg {
  background-color: #fff;
  border-radius: 4;
  width: 100%;
  box-shadow: '2px 2px 10px #ccc';
}
.widgetDropper {
  width: 200px;
  margin: 5px 0;
}

.widgetDropper li {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: #888;
}

.widgetDropper li:hover {
  background-color: #2e6da4;
  color: #fff;
}
